* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./img/more-leaves-on-green.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 600px;
  margin: 0 auto;
}

header {
  margin: 20px;
  background-color: #806e6e;
  border: 12px solid white;
  border-radius: 8px;
  padding: 12px;
  text-align: center;
}

.lets_span {
  color: #4cae4f;
}

.play_span {
  color: #f8e518;
}

.fizzbuzz_span {
  color: #e06c9f;
}

#game_div {
  background-color: white;
  border-radius: 8px;
  width: 80%;
  padding: 24px;
}

#rules_div {
  background-color: #806e6e;
  color: white;
  padding: 24px;
  margin-bottom:  24px;
  font-family: cursive;
  font-style: oblique;
  border-radius: 8px;
}
#output_div {
  display: flex;
  align-items: center;
  justify-content: center;
  height:112px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  background-color: #1282a2;
  margin-bottom:  24px;
  padding: 24px;
  border-radius: 6px;
}

#input_div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 12px;
}

input[type="button"] {
  display: inline-block;
  background-color: #85CBA3;
  border: 2px solid #85CBA3;
  border-radius: 6px;
  color: white;
  padding: 24px;
  text-align: center;
  text-decoration: none;
}

input[type="button"]:hover {
  background-color: white;
  color: #85CBA3;
  border: 2px solid #85CBA3;
  transition: 0.2s ease-out;
}

#reset_btn,
.highscore_p {
  border: 2px solid #e06c9f;
  background-color: white;
  color: #e06c9f;
  border-radius: 6px;
}

#reset_btn:hover {
  border: 2px solid #e06c9f;
  background-color: #e06c9f;
  color: white;
  transition: 0.2s ease-out;
}

#color_btn,
.highscore_p {
  border: 2px solid #1282a2;
  background-color: white;
  color: #1282a2;
  border-radius: 6px;
}

#color_btn:hover {
  border: 2px solid #1282a2;
  background-color: #1282a2;
  color: white;
  transition: 0.2s ease-out;
}

.highscore_p {
  border: 2px solid #806e6e;
  background-color: white;
  color: #806e6e;
  padding: 24px;
  text-align: center; 
  text-decoration: none;
}
